.counter {
  width: 400px;
  margin: 20px auto;
  font-size: 1.6rem;
  text-align: center;
}

.counter p {
  padding: 0 10px;
  display: inline-block;
}

.counter button {
  width: 32px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.counter button:hover {
  border: solid 2px gray;
}
